<p id="notice"><%= notice %></p>

<h1>Ignored Words</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ignored_words.each do |ignored_word| %>
      <tr>
        <td><%= link_to 'Show', ignored_word %></td>
        <td><%= link_to 'Edit', edit_ignored_word_path(ignored_word) %></td>
        <td><%= link_to 'Destroy', ignored_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ignored Word', new_ignored_word_path %>
